# Pre-Processing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as scp
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
def cek_null(df):
    col_na = df.isnull().sum().sort_values(ascending=False)
    percent = col_na / len(df) * 100

    missing_data = pd.concat([col_na, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data[missing_data['Total'] > 0])

def cek_duplikat(df):
    dup = df.duplicated()
    print("Jumlah duplikasi data : " + str(dup.sum()))

## Tabel Scores

In [3]:
df_scores = pd.read_csv('dataset/scores.csv')
df_scores

,No,GameID,PlayerID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,0,60894,8419.0,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,1,60894,466.0,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,2,60894,3712.0,diaamond,Boos,sova,226.0,17.0,9.0,8.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,3,60894,5099.0,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,4,60894,3983.0,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128774,157934,13,24.0,Gover,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128775,157935,13,25.0,Jack1,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128776,157936,13,26.0,Rewind,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128777,157937,13,27.0,Woo1y,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128778,157938,13,28.0,DrasseL,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_games = pd.read_csv('dataset/games.csv')
df_games

,No,GameID,MatchID,Map,Team1ID,Team2ID,Team1,Team2,Winner,Team1_Eco,Team1_SemiEco,Team1_SemiBuy,Team1_FullBuy,Team1_TotalRounds,Team2_Eco,Team2_SemiEco,Team2_SemiBuy,Team2_FullBuy,Team2_TotalRounds
0,0,60894,62393,Breeze,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,0.0,5.0,13.0,13,4.0,2.0,4.0,10.0,7
1,1,60895,62393,Bind,6903,6020,Booster Seat Gaming,Pho Real,2,3.0,3.0,5.0,4.0,2,2.0,0.0,4.0,9.0,13
2,2,60896,62393,Haven,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,2.0,5.0,12.0,13,2.0,2.0,6.0,11.0,8
3,3,60924,62403,Icebox,7046,7047,Bjor's Kittens,Mugiwara,1,2.0,2.0,4.0,11.0,13,4.0,1.0,2.0,12.0,6
4,4,60925,62403,Haven,7046,7047,Bjor's Kittens,Mugiwara,1,4.0,2.0,3.0,13.0,13,3.0,3.0,4.0,12.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12956,15883,6,10,Haven,4,11,smoke,Obey Alliance,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12957,15884,8,12,Bind,10,8,Highground,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12958,15885,4,8,Haven,4,6,smoke,Orgless,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12959,15886,3,7,Split,4,5,smoke,Last Minute Heroes,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12960,15887,13,17,Bind,7,8,Dignitas,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [5]:
df_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128779 entries, 0 to 128778
Data columns (total 29 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   No                128779 non-null  int64
 1   GameID            128779 non-null  int64
 2   PlayerID          128692 non-null  float64
 3   PlayerName        128779 non-null  object
 4   TeamAbbreviation  126763 non-null  object
 5   Agent             124679 non-null  object
 6   ACS               128249 non-null  float64
 7   Kills             128289 non-null  float64
 8   Deaths            128289 non-null  float64
 9   Assists           128289 non-null  float64
 10  PlusMinus         127026 non-null  float64
 11  KAST_Percent      2637 non-null    float64
 12  ADR               119904 non-null  float64
 13  HS_Percent        119307 non-null  float64
 14  FirstKills        128249 non-null  float64
 15  FirstDeaths       119314 non-null  float64
 16  FKFD_PlusMinus    119314 non-null  float64
 17  Num_2Ks           118584 non-null  float64
 18  Num_3Ks           118584 non-null  float64
 19  Num_4Ks           118584 non-null  float64
 20  Num_5Ks           118584 non-null  float64
 21  OnevOne           118584 non-null  float64
 22  OnevTwo           118584 non-null  float64
 23  OnevThree         118584 non-null  float64
 24  OnevFour          118584 non-null  float64
 25  OnevFive          118584 non-null  float64
 26  Econ              118584 non-null  float64
 27  Plants            118584 non-null  float64
 28  Defuses           118584 non-null  float64
dtypes: float64(24), int64(2), object(3)
memory usage: 28.5+ MB

In [6]:
cek_null(df_scores)

                   Total    Percent
KAST_Percent      126142  97.952306
Defuses            10195   7.916663
OnevThree          10195   7.916663
Num_3Ks            10195   7.916663
Num_2Ks            10195   7.916663
OnevOne            10195   7.916663
Num_5Ks            10195   7.916663
OnevTwo            10195   7.916663
Num_4Ks            10195   7.916663
OnevFour           10195   7.916663
OnevFive           10195   7.916663
Econ               10195   7.916663
Plants             10195   7.916663
HS_Percent          9472   7.355236
FirstDeaths         9465   7.349801
FKFD_PlusMinus      9465   7.349801
ADR                 8875   6.891652
Agent               4100   3.183749
TeamAbbreviation    2016   1.565473
PlusMinus           1753   1.361247
FirstKills           530   0.411558
ACS                  530   0.411558
Assists              490   0.380497
Deaths               490   0.380497
Kills                490   0.380497
PlayerID              87   0.067558

Kolom `KAST_Percent` memiliki banyak nilai `NULL` dan kolom `PlayerID` serta `No` tidak relevan untuk dijadikan fitur karena merupakan identifier.

In [7]:
df_scores_col_drop = df_scores.drop(['KAST_Percent', 'PlayerID', 'No'], axis=1)
df_scores_col_drop

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128774,13,Gover,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128775,13,Jack1,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128776,13,Rewind,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128777,13,Woo1y,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128778,13,DrasseL,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cek_null(df_scores_col_drop)

                  Total   Percent
Defuses           10195  7.916663
Num_2Ks           10195  7.916663
Plants            10195  7.916663
Econ              10195  7.916663
OnevFive          10195  7.916663
OnevFour          10195  7.916663
OnevThree         10195  7.916663
OnevTwo           10195  7.916663
OnevOne           10195  7.916663
Num_5Ks           10195  7.916663
Num_4Ks           10195  7.916663
Num_3Ks           10195  7.916663
HS_Percent         9472  7.355236
FKFD_PlusMinus     9465  7.349801
FirstDeaths        9465  7.349801
ADR                8875  6.891652
Agent              4100  3.183749
TeamAbbreviation   2016  1.565473
PlusMinus          1753  1.361247
FirstKills          530  0.411558
ACS                 530  0.411558
Assists             490  0.380497
Deaths              490  0.380497
Kills               490  0.380497

Terlihat bahwa `FirstKills`, `ACS`, `Assists`, `Deaths`, `Kills` memiliki beberapa nilai `NULL`. Karena nilai-nilai tersebut tidak dapat diganti dan hanya mengambil proposi sedikit dari keseluruhan data (kurang dari 0.5%), maka row-row tersebut didrop.

Terlihat juga bahwa terdapat row yang memiliki kolom `Agent` kosong. Sulit untuk menginfer agent yang dipilih dalam sebuah game karena terdapat constraint dimana tiap agent yang dipilih pemain dalam sebuah tim harus **unik**. Selain itu, `TeamAbbreviation` juga sulit diinfer karena terdapat constraint bahwa dalam tiap game, sebuah tim harus punya tepat 5 pemain.

In [9]:
df_scores_null_drop = df_scores_col_drop.dropna(subset=['FirstKills', 'ACS', 'Assists', 'Deaths', 'Kills', 'Agent', 'TeamAbbreviation'])
df_scores_null_drop

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127989,221,chiwawa,WP,sage,312.0,28.0,14.0,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127990,221,arch,WP,phoenix,255.0,20.0,18.0,9.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127991,221,TayS,WP,cypher,240.0,23.0,17.0,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127992,221,Duno,WP,sova,163.0,12.0,17.0,10.0,-5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127993,221,pipsoN,WP,brimstone,133.0,11.0,17.0,5.0,-6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cek_null(df_scores_null_drop)

                Total   Percent
Defuses          5865  4.777498
Num_2Ks          5865  4.777498
Plants           5865  4.777498
Econ             5865  4.777498
OnevFive         5865  4.777498
OnevFour         5865  4.777498
OnevThree        5865  4.777498
OnevTwo          5865  4.777498
OnevOne          5865  4.777498
Num_5Ks          5865  4.777498
Num_4Ks          5865  4.777498
Num_3Ks          5865  4.777498
HS_Percent       5142  4.188558
FKFD_PlusMinus   5135  4.182856
FirstDeaths      5135  4.182856
ADR              4691  3.821184

In [11]:
df_scores_null_drop_2 = df_scores_null_drop.dropna(subset=['Defuses'])
df_scores_null_drop_2

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120602,2309,QUERNI,GRG,omen,227.0,13.0,12.0,1.0,1.0,124.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,61.0,0.0,0.0
120603,2309,bmblbe,GRG,phoenix,110.0,4.0,13.0,4.0,-9.0,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,2.0
120604,2309,DcTzR,GRG,jett,98.0,4.0,15.0,0.0,-11.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
120605,2309,FRESHY,GRG,sova,91.0,3.0,14.0,4.0,-11.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,1.0,0.0
120606,2309,fir,GRG,cypher,88.0,3.0,14.0,2.0,-11.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0

In [12]:
cek_null(df_scores_null_drop_2)

            Total   Percent
HS_Percent      7  0.005988

In [13]:
df_scores_filled = df_scores_null_drop_2.fillna(df_scores_null_drop_2['HS_Percent'].mean(), inplace=False)
cek_null(df_scores_filled)

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [14]:
df_scores_filled

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120602,2309,QUERNI,GRG,omen,227.0,13.0,12.0,1.0,1.0,124.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,61.0,0.0,0.0
120603,2309,bmblbe,GRG,phoenix,110.0,4.0,13.0,4.0,-9.0,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,2.0
120604,2309,DcTzR,GRG,jett,98.0,4.0,15.0,0.0,-11.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
120605,2309,FRESHY,GRG,sova,91.0,3.0,14.0,4.0,-11.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,1.0,0.0
120606,2309,fir,GRG,cypher,88.0,3.0,14.0,2.0,-11.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0

### Memastikan Setiap Game Memiliki Pemain 10

In [15]:
scores_by_game_id = df_scores_filled.groupby('GameID').size()
valid_game_list = scores_by_game_id[scores_by_game_id == 10].index
df_scores_final = df_scores_filled[df_scores_filled['GameID'].isin(valid_game_list)]
df_scores_final

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120602,2309,QUERNI,GRG,omen,227.0,13.0,12.0,1.0,1.0,124.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,61.0,0.0,0.0
120603,2309,bmblbe,GRG,phoenix,110.0,4.0,13.0,4.0,-9.0,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,2.0
120604,2309,DcTzR,GRG,jett,98.0,4.0,15.0,0.0,-11.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
120605,2309,FRESHY,GRG,sova,91.0,3.0,14.0,4.0,-11.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,1.0,0.0
120606,2309,fir,GRG,cypher,88.0,3.0,14.0,2.0,-11.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0

## Cek Duplikat

In [16]:
cek_duplikat(df_scores_final)

Jumlah duplikasi data : 0

In [17]:
df_scores_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108250 entries, 0 to 120606
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   GameID            108250 non-null  int64
 1   PlayerName        108250 non-null  object
 2   TeamAbbreviation  108250 non-null  object
 3   Agent             108250 non-null  object
 4   ACS               108250 non-null  float64
 5   Kills             108250 non-null  float64
 6   Deaths            108250 non-null  float64
 7   Assists           108250 non-null  float64
 8   PlusMinus         108250 non-null  float64
 9   ADR               108250 non-null  float64
 10  HS_Percent        108250 non-null  float64
 11  FirstKills        108250 non-null  float64
 12  FirstDeaths       108250 non-null  float64
 13  FKFD_PlusMinus    108250 non-null  float64
 14  Num_2Ks           108250 non-null  float64
 15  Num_3Ks           108250 non-null  float64
 16  Num_4Ks           108250 non-null  float64
 17  Num_5Ks           108250 non-null  float64
 18  OnevOne           108250 non-null  float64
 19  OnevTwo           108250 non-null  float64
 20  OnevThree         108250 non-null  float64
 21  OnevFour          108250 non-null  float64
 22  OnevFive          108250 non-null  float64
 23  Econ              108250 non-null  float64
 24  Plants            108250 non-null  float64
 25  Defuses           108250 non-null  float64
dtypes: float64(22), int64(1), object(3)
memory usage: 22.3+ MB

## Export dataframe ke csv

In [18]:
df_scores_final.to_csv('dataset final/scores_final.csv', index=False)

# Tabel Games

In [19]:
df_games = pd.read_csv('dataset/games.csv')
df_games

,No,GameID,MatchID,Map,Team1ID,Team2ID,Team1,Team2,Winner,Team1_Eco,Team1_SemiEco,Team1_SemiBuy,Team1_FullBuy,Team1_TotalRounds,Team2_Eco,Team2_SemiEco,Team2_SemiBuy,Team2_FullBuy,Team2_TotalRounds
0,0,60894,62393,Breeze,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,0.0,5.0,13.0,13,4.0,2.0,4.0,10.0,7
1,1,60895,62393,Bind,6903,6020,Booster Seat Gaming,Pho Real,2,3.0,3.0,5.0,4.0,2,2.0,0.0,4.0,9.0,13
2,2,60896,62393,Haven,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,2.0,5.0,12.0,13,2.0,2.0,6.0,11.0,8
3,3,60924,62403,Icebox,7046,7047,Bjor's Kittens,Mugiwara,1,2.0,2.0,4.0,11.0,13,4.0,1.0,2.0,12.0,6
4,4,60925,62403,Haven,7046,7047,Bjor's Kittens,Mugiwara,1,4.0,2.0,3.0,13.0,13,3.0,3.0,4.0,12.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12956,15883,6,10,Haven,4,11,smoke,Obey Alliance,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12957,15884,8,12,Bind,10,8,Highground,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12958,15885,4,8,Haven,4,6,smoke,Orgless,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12959,15886,3,7,Split,4,5,smoke,Last Minute Heroes,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12960,15887,13,17,Bind,7,8,Dignitas,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [20]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12961 entries, 0 to 12960
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No                 12961 non-null  int64
 1   GameID             12961 non-null  int64
 2   MatchID            12961 non-null  int64
 3   Map                12961 non-null  object
 4   Team1ID            12961 non-null  int64
 5   Team2ID            12961 non-null  int64
 6   Team1              12961 non-null  object
 7   Team2              12961 non-null  object
 8   Winner             12961 non-null  int64
 9   Team1_Eco          11927 non-null  float64
 10  Team1_SemiEco      11927 non-null  float64
 11  Team1_SemiBuy      11927 non-null  float64
 12  Team1_FullBuy      11927 non-null  float64
 13  Team1_TotalRounds  12961 non-null  int64
 14  Team2_Eco          11927 non-null  float64
 15  Team2_SemiEco      11927 non-null  float64
 16  Team2_SemiBuy      11927 non-null  float64
 17  Team2_FullBuy      11927 non-null  float64
 18  Team2_TotalRounds  12961 non-null  int64
dtypes: float64(8), int64(8), object(3)
memory usage: 1.9+ MB

Karena `No` merupakan identifier yang tidak relevan, maka dihapus.

In [21]:
df_games_col_drop = df_games.drop(['No'], axis=1)
df_games_col_drop

,GameID,MatchID,Map,Team1ID,Team2ID,Team1,Team2,Winner,Team1_Eco,Team1_SemiEco,Team1_SemiBuy,Team1_FullBuy,Team1_TotalRounds,Team2_Eco,Team2_SemiEco,Team2_SemiBuy,Team2_FullBuy,Team2_TotalRounds
0,60894,62393,Breeze,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,0.0,5.0,13.0,13,4.0,2.0,4.0,10.0,7
1,60895,62393,Bind,6903,6020,Booster Seat Gaming,Pho Real,2,3.0,3.0,5.0,4.0,2,2.0,0.0,4.0,9.0,13
2,60896,62393,Haven,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,2.0,5.0,12.0,13,2.0,2.0,6.0,11.0,8
3,60924,62403,Icebox,7046,7047,Bjor's Kittens,Mugiwara,1,2.0,2.0,4.0,11.0,13,4.0,1.0,2.0,12.0,6
4,60925,62403,Haven,7046,7047,Bjor's Kittens,Mugiwara,1,4.0,2.0,3.0,13.0,13,3.0,3.0,4.0,12.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12956,6,10,Haven,4,11,smoke,Obey Alliance,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12957,8,12,Bind,10,8,Highground,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12958,4,8,Haven,4,6,smoke,Orgless,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12959,3,7,Split,4,5,smoke,Last Minute Heroes,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12960,13,17,Bind,7,8,Dignitas,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [22]:
cek_null(df_games_col_drop)

               Total   Percent
Team1_SemiEco   1034  7.977779
Team1_SemiBuy   1034  7.977779
Team2_FullBuy   1034  7.977779
Team2_SemiBuy   1034  7.977779
Team2_SemiEco   1034  7.977779
Team2_Eco       1034  7.977779
Team1_FullBuy   1034  7.977779
Team1_Eco       1034  7.977779

In [23]:
df_games_drop = df_games_col_drop.dropna(subset=['Team1_Eco'])
cek_null(df_games_drop)

Empty DataFrame
Columns: [Total, Percent]
Index: []

Map dengan value `TBD` sudah ikut terdrop.

In [24]:
df_games_drop['Map'].unique()

array(['Breeze', 'Bind', 'Haven', 'Icebox', 'Ascent', 'Split', 'Fracture'],
      dtype=object)

## Cek Duplikat

In [25]:
cek_duplikat(df_games_drop)

Jumlah duplikasi data : 0

In [26]:
df_games_final = df_games_drop

In [27]:
df_games_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11927 entries, 0 to 12130
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GameID             11927 non-null  int64
 1   MatchID            11927 non-null  int64
 2   Map                11927 non-null  object
 3   Team1ID            11927 non-null  int64
 4   Team2ID            11927 non-null  int64
 5   Team1              11927 non-null  object
 6   Team2              11927 non-null  object
 7   Winner             11927 non-null  int64
 8   Team1_Eco          11927 non-null  float64
 9   Team1_SemiEco      11927 non-null  float64
 10  Team1_SemiBuy      11927 non-null  float64
 11  Team1_FullBuy      11927 non-null  float64
 12  Team1_TotalRounds  11927 non-null  int64
 13  Team2_Eco          11927 non-null  float64
 14  Team2_SemiEco      11927 non-null  float64
 15  Team2_SemiBuy      11927 non-null  float64
 16  Team2_FullBuy      11927 non-null  float64
 17  Team2_TotalRounds  11927 non-null  int64
dtypes: float64(8), int64(7), object(3)
memory usage: 1.7+ MB

## Export dataframe ke csv

In [28]:
df_games_final.to_csv('dataset final/games_final.csv', index=False)

# Tabel Matches

In [29]:
df_match = pd.read_csv('dataset/matches.csv')

Karena `No` merupakan identifier yang tidak relevan, maka dihapus.

In [30]:
df_match = df_match.drop(['No'], axis=1)
df_match

,MatchID,Date,Patch,EventID,EventName,EventStage,Team1ID,Team2ID,Team1,Team2,Team1_MapScore,Team2_MapScore
0,62393,2022-01-08 15:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
1,62403,2022-01-08 15:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (C),7046,7047,Bjor's Kittens,Mugiwara,2,0
2,62391,2022-01-08 12:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Winner's (A),6461,6903,Akrew,Booster Seat Gaming,2,1
3,62396,2022-01-08 12:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Winner's (B),6164,7043,Radiance,sameROFLMAO,2,0
4,62402,2022-01-08 12:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Elimination (C),7047,3545,Mugiwara,CLG Red,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6396,10,2020-05-02 15:00:00,NaN,2,Valhalla Invitational,Week 1: Group A,4,11,smoke,Obey Alliance,1,0
6397,12,2020-05-02 15:00:00,NaN,2,Valhalla Invitational,Week 1: Group B,10,8,Highground,JSD,1,0
6398,8,2020-05-02 14:00:00,NaN,2,Valhalla Invitational,Week 1: Group A,4,6,smoke,Orgless,1,0
6399,7,2020-05-02 13:00:00,NaN,2,Valhalla Invitational,Week 1: Group A,4,5,smoke,Last Minute Heroes,1,0
6400,17,2020-05-02 13:00:00,NaN,2,Valhalla Invitational,Week 1: Group B,7,8,Dignitas,JSD,1,0

## Mengganti nilai NaN pada tabel
Data patch yang digunakan diambil dari [Valorant Wiki](https://valorant.fandom.com/wiki/Patch_Notes)

In [31]:
from datetime import datetime

start_patch0 = datetime(2020, 4, 15)
end_patch0 = datetime(2020, 6, 2)

start_patch1 = datetime(2020, 6, 2)
end_patch1 = datetime(2021, 1, 12)

start_patch2 = datetime(2021, 1, 12)
end_patch2 = datetime(2021, 6, 22)

start_patch3 = datetime(2021, 6, 22)
end_patch3 = datetime(2022, 1, 11)

def handle_patch_null(row):
    if pd.isnull(row['Patch']):
        date = row['Date'][:10]
        date_object = datetime.strptime(date, '%Y-%m-%d')
        if start_patch0 <= date_object < end_patch0:
            row['Patch'] = 'Patch 0.0'
        elif start_patch1 <= date_object < end_patch1:
            row['Patch'] = 'Patch 1.0'
        elif start_patch2 <= date_object < end_patch2:
            row['Patch'] = 'Patch 2.0'
        elif start_patch3 <= date_object < end_patch3:
            row['Patch'] = 'Patch 3.0'
    return row

In [32]:
df_matches_final = df_match.apply(handle_patch_null, axis=1)

In [33]:
df_matches_final['Patch'] = df_matches_final['Patch'].str.extract(r'(\d)\.\d+').astype(float)
df_matches_final['Patch'].value_counts()

Patch
3.0    2210
1.0    2085
2.0    2010
0.0      96
Name: count, dtype: int64

## Cek Missing Value

In [34]:
cek_null(df_matches_final)

Empty DataFrame
Columns: [Total, Percent]
Index: []

## Cek Duplikat

In [35]:
cek_duplikat(df_matches_final)

Jumlah duplikasi data : 0

## Export dataframe ke csv

In [36]:
df_matches_final.to_csv('dataset final/matches_final.csv', index=False)

# Menggabungkan Tabel

In [37]:
print(df_scores_final.columns)
print(df_games_final.columns)
print(df_matches_final.columns)

Index(['GameID', 'PlayerName', 'TeamAbbreviation', 'Agent', 'ACS', 'Kills',
       'Deaths', 'Assists', 'PlusMinus', 'ADR', 'HS_Percent', 'FirstKills',
       'FirstDeaths', 'FKFD_PlusMinus', 'Num_2Ks', 'Num_3Ks', 'Num_4Ks',
       'Num_5Ks', 'OnevOne', 'OnevTwo', 'OnevThree', 'OnevFour', 'OnevFive',
       'Econ', 'Plants', 'Defuses'],
      dtype='object')
Index(['GameID', 'MatchID', 'Map', 'Team1ID', 'Team2ID', 'Team1', 'Team2',
       'Winner', 'Team1_Eco', 'Team1_SemiEco', 'Team1_SemiBuy',
       'Team1_FullBuy', 'Team1_TotalRounds', 'Team2_Eco', 'Team2_SemiEco',
       'Team2_SemiBuy', 'Team2_FullBuy', 'Team2_TotalRounds'],
      dtype='object')
Index(['MatchID', 'Date', 'Patch', 'EventID', 'EventName', 'EventStage',
       'Team1ID', 'Team2ID', 'Team1', 'Team2', 'Team1_MapScore',
       'Team2_MapScore'],
      dtype='object')

In [38]:
print(f"Jumlah baris scores: {df_scores_final.count().unique()}")
print(f"Jumlah baris scores: {df_games_final.count().unique()}")
print(f"Jumlah baris scores: {df_matches_final.count().unique()}")

Jumlah baris scores: [108250]
Jumlah baris scores: [11927]
Jumlah baris scores: [6401]

In [39]:
merge_test = pd.merge(df_games_final, df_matches_final, on='MatchID', how='outer')

In [40]:
cek_null(merge_test)

                   Total   Percent
GameID               677  5.371311
Team1_SemiEco        677  5.371311
Team2_TotalRounds    677  5.371311
Team2_FullBuy        677  5.371311
Team2_SemiBuy        677  5.371311
Team2_Eco            677  5.371311
Team1_TotalRounds    677  5.371311
Team1_FullBuy        677  5.371311
Team1_SemiBuy        677  5.371311
Team2_SemiEco        677  5.371311
Team1_Eco            677  5.371311
Team2_x              677  5.371311
Team1_x              677  5.371311
Team2ID_x            677  5.371311
Team1ID_x            677  5.371311
Map                  677  5.371311
Winner               677  5.371311

In [41]:
merge_test['Patch'].value_counts()

Patch
3.0    4755
2.0    4366
1.0    3387
0.0      96
Name: count, dtype: int64

In [42]:
merge_test[merge_test['Patch'] == 0.0]

,GameID,MatchID,Map,Team1ID_x,Team2ID_x,Team1_x,Team2_x,Winner,Team1_Eco,Team1_SemiEco,...,Patch,EventID,EventName,EventStage,Team1ID_y,Team2ID_y,Team1_y,Team2_y,Team1_MapScore,Team2_MapScore
12399,NaN,209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,8,Absolute Masters,Group Stage: Group H,3,63,Ninjas in Pyjamas,InetGamer,2,0
12415,NaN,205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,8,Absolute Masters,Group Stage: Group G,21,101,Prodigy,Paraplegic Buffalos,2,0
12507,NaN,178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,8,Absolute Masters,Group Stage: Group B,86,85,SimpleMinecraftPlayers,Absolute Legends,1,2
12511,NaN,413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,20,Take the Throne,#4: Grand Final,25,20,fish123,StartedFromCS,2,1
12512,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,8,Absolute Masters,Group Stage: Group H,102,63,KK VALORANT,InetGamer,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12599,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2,Valhalla Invitational,Week 1: Group A,4,11,smoke,Obey Alliance,1,0
12600,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2,Valhalla Invitational,Week 1: Group B,10,8,Highground,JSD,1,0
12601,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2,Valhalla Invitational,Week 1: Group A,4,6,smoke,Orgless,1,0
12602,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2,Valhalla Invitational,Week 1: Group A,4,5,smoke,Last Minute Heroes,1,0
12603,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2,Valhalla Invitational,Week 1: Group B,7,8,Dignitas,JSD,1,0

In [43]:
df_match[df_match['MatchID'] == 205]

,MatchID,Date,Patch,EventID,EventName,EventStage,Team1ID,Team2ID,Team1,Team2,Team1_MapScore,Team2_MapScore
6212,205,2020-06-13 14:30:00,Patch 0.50Walking accuracy no longer granted w...,8,Absolute Masters,Group Stage: Group G,21,101,Prodigy,Paraplegic Buffalos,2,0

In [44]:
df_games[df_games['MatchID'] == 205]

,No,GameID,MatchID,Map,Team1ID,Team2ID,Team1,Team2,Winner,Team1_Eco,Team1_SemiEco,Team1_SemiBuy,Team1_FullBuy,Team1_TotalRounds,Team2_Eco,Team2_SemiEco,Team2_SemiBuy,Team2_FullBuy,Team2_TotalRounds
12731,15658,339,205,Bind,21,101,Prodigy,Paraplegic Buffalos,1,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,2
12732,15659,340,205,Haven,21,101,Prodigy,Paraplegic Buffalos,1,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,6

## Menggabungkan Matches dengan Games

In [45]:
df_matches_games = df_games_final.merge(df_matches_final, left_on='MatchID', right_on='MatchID')

In [46]:
df_matches_games.columns

Index(['GameID', 'MatchID', 'Map', 'Team1ID_x', 'Team2ID_x', 'Team1_x',
       'Team2_x', 'Winner', 'Team1_Eco', 'Team1_SemiEco', 'Team1_SemiBuy',
       'Team1_FullBuy', 'Team1_TotalRounds', 'Team2_Eco', 'Team2_SemiEco',
       'Team2_SemiBuy', 'Team2_FullBuy', 'Team2_TotalRounds', 'Date', 'Patch',
       'EventID', 'EventName', 'EventStage', 'Team1ID_y', 'Team2ID_y',
       'Team1_y', 'Team2_y', 'Team1_MapScore', 'Team2_MapScore'],
      dtype='object')

In [47]:
df_matches_games['Patch'].value_counts()

Patch
3.0    4744
2.0    4356
1.0    2827
Name: count, dtype: int64

## Menggabungkan Tabel secara keseluruhan

In [48]:
df_final = df_scores_final.merge(df_matches_games, left_on='GameID', right_on='GameID')
df_final.columns

Index(['GameID', 'PlayerName', 'TeamAbbreviation', 'Agent', 'ACS', 'Kills',
       'Deaths', 'Assists', 'PlusMinus', 'ADR', 'HS_Percent', 'FirstKills',
       'FirstDeaths', 'FKFD_PlusMinus', 'Num_2Ks', 'Num_3Ks', 'Num_4Ks',
       'Num_5Ks', 'OnevOne', 'OnevTwo', 'OnevThree', 'OnevFour', 'OnevFive',
       'Econ', 'Plants', 'Defuses', 'MatchID', 'Map', 'Team1ID_x', 'Team2ID_x',
       'Team1_x', 'Team2_x', 'Winner', 'Team1_Eco', 'Team1_SemiEco',
       'Team1_SemiBuy', 'Team1_FullBuy', 'Team1_TotalRounds', 'Team2_Eco',
       'Team2_SemiEco', 'Team2_SemiBuy', 'Team2_FullBuy', 'Team2_TotalRounds',
       'Date', 'Patch', 'EventID', 'EventName', 'EventStage', 'Team1ID_y',
       'Team2ID_y', 'Team1_y', 'Team2_y', 'Team1_MapScore', 'Team2_MapScore'],
      dtype='object')

Ternyata terdapat tabel dengan kolom nama yang sama namun atributnya berbeda, sehingga memunculkan beberapa kolom dengan tambahan `_x` dan `_y`

In [49]:
mask = ['Team1ID_x', 'Team1ID_y', 'Team2ID_x', 'Team2ID_y','Team1_x', 'Team1_y', 'Team2_x', 'Team2_y']
temp = df_final[mask]
temp[temp['Team1_x'] != temp['Team1_y']]

,Team1ID_x,Team1ID_y,Team2ID_x,Team2ID_y,Team1_x,Team1_y,Team2_x,Team2_y
3160,6144,6144,6478,6478,The Mafia,Next-Gen(The Mafia),ex-Serenity Black,ex-Serenity Black
3161,6144,6144,6478,6478,The Mafia,Next-Gen(The Mafia),ex-Serenity Black,ex-Serenity Black
3162,6144,6144,6478,6478,The Mafia,Next-Gen(The Mafia),ex-Serenity Black,ex-Serenity Black
3163,6144,6144,6478,6478,The Mafia,Next-Gen(The Mafia),ex-Serenity Black,ex-Serenity Black
3164,6144,6144,6478,6478,The Mafia,Next-Gen(The Mafia),ex-Serenity Black,ex-Serenity Black
...,...,...,...,...,...,...,...,...
106935,547,547,711,711,ex-Giants Gaming,Fire in the hole(ex-Giants Gaming),The Mandalorian,The Mandalorian
106936,547,547,711,711,ex-Giants Gaming,Fire in the hole(ex-Giants Gaming),The Mandalorian,The Mandalorian
106937,547,547,711,711,ex-Giants Gaming,Fire in the hole(ex-Giants Gaming),The Mandalorian,The Mandalorian
106938,547,547,711,711,ex-Giants Gaming,Fire in the hole(ex-Giants Gaming),The Mandalorian,The Mandalorian
106939,547,547,711,711,ex-Giants Gaming,Fire in the hole(ex-Giants Gaming),The Mandalorian,The Mandalorian

In [50]:
mask = ['Team1ID_x', 'Team1ID_y', 'Team2ID_x', 'Team2ID_y','Team1_x', 'Team1_y', 'Team2_x', 'Team2_y']
temp = df_final[mask]
temp[temp['Team2_x'].str.len() > temp['Team2_y'].str.len()]

Empty DataFrame
Columns: [Team1ID_x, Team1ID_y, Team2ID_x, Team2ID_y, Team1_x, Team1_y, Team2_x, Team2_y]
Index: []

Setelah mengamati data tersebut, menurut kami, data `_y` memiliki informasi yang lebih lengkap ketimbang `_x` sehingga kami memilih yang `_y`

In [51]:
col_to_drop = ['Team1ID_x', 'Team2ID_x', 'Team1_x', 'Team2_x']
df_final.drop(col_to_drop, axis=1, inplace=True)
df_final.rename(columns={'Team1ID_y': 'Team1ID', 'Team2ID_y': 'Team2ID', 'Team1_y': 'Team1', 'Team2_y': 'Team2'}, inplace=True)

In [52]:
df_final.columns

Index(['GameID', 'PlayerName', 'TeamAbbreviation', 'Agent', 'ACS', 'Kills',
       'Deaths', 'Assists', 'PlusMinus', 'ADR', 'HS_Percent', 'FirstKills',
       'FirstDeaths', 'FKFD_PlusMinus', 'Num_2Ks', 'Num_3Ks', 'Num_4Ks',
       'Num_5Ks', 'OnevOne', 'OnevTwo', 'OnevThree', 'OnevFour', 'OnevFive',
       'Econ', 'Plants', 'Defuses', 'MatchID', 'Map', 'Winner', 'Team1_Eco',
       'Team1_SemiEco', 'Team1_SemiBuy', 'Team1_FullBuy', 'Team1_TotalRounds',
       'Team2_Eco', 'Team2_SemiEco', 'Team2_SemiBuy', 'Team2_FullBuy',
       'Team2_TotalRounds', 'Date', 'Patch', 'EventID', 'EventName',
       'EventStage', 'Team1ID', 'Team2ID', 'Team1', 'Team2', 'Team1_MapScore',
       'Team2_MapScore'],
      dtype='object')

# Hasil final

In [53]:
cek_null(df_final)

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [54]:
cek_duplikat(df_final)

Jumlah duplikasi data : 0

In [55]:
df_final

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Patch,EventID,EventName,EventStage,Team1ID,Team2ID,Team1,Team2,Team1_MapScore,Team2_MapScore
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,3.0,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,3.0,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,3.0,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,3.0,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,3.0,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108245,2309,QUERNI,GRG,omen,227.0,13.0,12.0,1.0,1.0,124.0,...,1.0,68,Mandatory.gg Cup #2,Tournament: Round of 128,545,560,ISOL-BULIL,GRANIT GAMING,1,0
108246,2309,bmblbe,GRG,phoenix,110.0,4.0,13.0,4.0,-9.0,84.0,...,1.0,68,Mandatory.gg Cup #2,Tournament: Round of 128,545,560,ISOL-BULIL,GRANIT GAMING,1,0
108247,2309,DcTzR,GRG,jett,98.0,4.0,15.0,0.0,-11.0,56.0,...,1.0,68,Mandatory.gg Cup #2,Tournament: Round of 128,545,560,ISOL-BULIL,GRANIT GAMING,1,0
108248,2309,FRESHY,GRG,sova,91.0,3.0,14.0,4.0,-11.0,64.0,...,1.0,68,Mandatory.gg Cup #2,Tournament: Round of 128,545,560,ISOL-BULIL,GRANIT GAMING,1,0
108249,2309,fir,GRG,cypher,88.0,3.0,14.0,2.0,-11.0,46.0,...,1.0,68,Mandatory.gg Cup #2,Tournament: Round of 128,545,560,ISOL-BULIL,GRANIT GAMING,1,0

## Export dataframe ke csv

In [56]:
df_final.to_csv('dataset final/final_dataset.csv', index=False)