# Pre-Processing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as scp
import plotly.express as px
import matplotlib.pyplot as plt

In [5]:
def cek_null(df):
    col_na = df.isnull().sum().sort_values(ascending=False)
    percent = col_na / len(df) * 100

    missing_data = pd.concat([col_na, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data[missing_data['Total'] > 0])

## Pemrosesan Tabel Scores

In [3]:
df_scores = pd.read_csv('scores.csv')
df_scores

,No,GameID,PlayerID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,0,60894,8419.0,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,1,60894,466.0,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,2,60894,3712.0,diaamond,Boos,sova,226.0,17.0,9.0,8.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,3,60894,5099.0,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,4,60894,3983.0,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128774,157934,13,24.0,Gover,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128775,157935,13,25.0,Jack1,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128776,157936,13,26.0,Rewind,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128777,157937,13,27.0,Woo1y,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128778,157938,13,28.0,DrasseL,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_games = pd.read_csv('games.csv')
df_games

,No,GameID,MatchID,Map,Team1ID,Team2ID,Team1,Team2,Winner,Team1_Eco,Team1_SemiEco,Team1_SemiBuy,Team1_FullBuy,Team1_TotalRounds,Team2_Eco,Team2_SemiEco,Team2_SemiBuy,Team2_FullBuy,Team2_TotalRounds
0,0,60894,62393,Breeze,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,0.0,5.0,13.0,13,4.0,2.0,4.0,10.0,7
1,1,60895,62393,Bind,6903,6020,Booster Seat Gaming,Pho Real,2,3.0,3.0,5.0,4.0,2,2.0,0.0,4.0,9.0,13
2,2,60896,62393,Haven,6903,6020,Booster Seat Gaming,Pho Real,1,2.0,2.0,5.0,12.0,13,2.0,2.0,6.0,11.0,8
3,3,60924,62403,Icebox,7046,7047,Bjor's Kittens,Mugiwara,1,2.0,2.0,4.0,11.0,13,4.0,1.0,2.0,12.0,6
4,4,60925,62403,Haven,7046,7047,Bjor's Kittens,Mugiwara,1,4.0,2.0,3.0,13.0,13,3.0,3.0,4.0,12.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12956,15883,6,10,Haven,4,11,smoke,Obey Alliance,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12957,15884,8,12,Bind,10,8,Highground,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12958,15885,4,8,Haven,4,6,smoke,Orgless,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12959,15886,3,7,Split,4,5,smoke,Last Minute Heroes,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
12960,15887,13,17,Bind,7,8,Dignitas,JSD,2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [10]:
df_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128779 entries, 0 to 128778
Data columns (total 29 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   No                128779 non-null  int64
 1   GameID            128779 non-null  int64
 2   PlayerID          128692 non-null  float64
 3   PlayerName        128779 non-null  object
 4   TeamAbbreviation  126763 non-null  object
 5   Agent             124679 non-null  object
 6   ACS               128249 non-null  float64
 7   Kills             128289 non-null  float64
 8   Deaths            128289 non-null  float64
 9   Assists           128289 non-null  float64
 10  PlusMinus         127026 non-null  float64
 11  KAST_Percent      2637 non-null    float64
 12  ADR               119904 non-null  float64
 13  HS_Percent        119307 non-null  float64
 14  FirstKills        128249 non-null  float64
 15  FirstDeaths       119314 non-null  float64
 16  FKFD_PlusMinus    119314 non-null  float64
 17  Num_2Ks           118584 non-null  float64
 18  Num_3Ks           118584 non-null  float64
 19  Num_4Ks           118584 non-null  float64
 20  Num_5Ks           118584 non-null  float64
 21  OnevOne           118584 non-null  float64
 22  OnevTwo           118584 non-null  float64
 23  OnevThree         118584 non-null  float64
 24  OnevFour          118584 non-null  float64
 25  OnevFive          118584 non-null  float64
 26  Econ              118584 non-null  float64
 27  Plants            118584 non-null  float64
 28  Defuses           118584 non-null  float64
dtypes: float64(24), int64(2), object(3)
memory usage: 28.5+ MB

In [7]:
cek_null(df_scores)

                   Total    Percent
KAST_Percent      126142  97.952306
Defuses            10195   7.916663
OnevThree          10195   7.916663
Num_3Ks            10195   7.916663
Num_2Ks            10195   7.916663
OnevOne            10195   7.916663
Num_5Ks            10195   7.916663
OnevTwo            10195   7.916663
Num_4Ks            10195   7.916663
OnevFour           10195   7.916663
OnevFive           10195   7.916663
Econ               10195   7.916663
Plants             10195   7.916663
HS_Percent          9472   7.355236
FirstDeaths         9465   7.349801
FKFD_PlusMinus      9465   7.349801
ADR                 8875   6.891652
Agent               4100   3.183749
TeamAbbreviation    2016   1.565473
PlusMinus           1753   1.361247
FirstKills           530   0.411558
ACS                  530   0.411558
Assists              490   0.380497
Deaths               490   0.380497
Kills                490   0.380497
PlayerID              87   0.067558

Kolom `KAST_Percent` memiliki banyak nilai `NULL` dan kolom `PlayerID` serta `No` tidak relevan untuk dijadikan fitur karena merupakan identifier.

In [9]:
df_scores_col_drop = df_scores.drop(['KAST_Percent', 'PlayerID', 'No'], axis=1)
df_scores_col_drop

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128774,13,Gover,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128775,13,Jack1,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128776,13,Rewind,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128777,13,Woo1y,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128778,13,DrasseL,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cek_null(df_scores_col_drop)

                  Total   Percent
Defuses           10195  7.916663
Num_2Ks           10195  7.916663
Plants            10195  7.916663
Econ              10195  7.916663
OnevFive          10195  7.916663
OnevFour          10195  7.916663
OnevThree         10195  7.916663
OnevTwo           10195  7.916663
OnevOne           10195  7.916663
Num_5Ks           10195  7.916663
Num_4Ks           10195  7.916663
Num_3Ks           10195  7.916663
HS_Percent         9472  7.355236
FKFD_PlusMinus     9465  7.349801
FirstDeaths        9465  7.349801
ADR                8875  6.891652
Agent              4100  3.183749
TeamAbbreviation   2016  1.565473
PlusMinus          1753  1.361247
FirstKills          530  0.411558
ACS                 530  0.411558
Assists             490  0.380497
Deaths              490  0.380497
Kills               490  0.380497

Terlihat bahwa `FirstKills`, `ACS`, `Assists`, `Deaths`, `Kills` memiliki beberapa nilai `NULL`. Karena nilai-nilai tersebut tidak dapat diganti dan hanya mengambil proposi sedikit dari keseluruhan data (kurang dari 0.5%), maka row-row tersebut didrop.

Terlihat juga bahwa terdapat row yang memiliki kolom `Agent` kosong. Sulit untuk menginfer agent yang dipilih dalam sebuah game karena terdapat constraint dimana tiap agent yang dipilih pemain dalam sebuah tim harus **unik**. Selain itu, `TeamAbbreviation` juga sulit diinfer karena terdapat constraint bahwa dalam tiap game, sebuah tim harus punya tepat 5 pemain.

In [16]:
df_scores_null_drop = df_scores_col_drop.dropna(subset=['FirstKills', 'ACS', 'Assists', 'Deaths', 'Kills', 'Agent', 'TeamAbbreviation'])
df_scores_null_drop

,GameID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,ADR,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,195.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,148.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,141.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127989,221,chiwawa,WP,sage,312.0,28.0,14.0,11.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127990,221,arch,WP,phoenix,255.0,20.0,18.0,9.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127991,221,TayS,WP,cypher,240.0,23.0,17.0,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127992,221,Duno,WP,sova,163.0,12.0,17.0,10.0,-5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127993,221,pipsoN,WP,brimstone,133.0,11.0,17.0,5.0,-6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
cek_null(df_scores_null_drop)

                Total   Percent
Defuses          5865  4.777498
Num_2Ks          5865  4.777498
Plants           5865  4.777498
Econ             5865  4.777498
OnevFive         5865  4.777498
OnevFour         5865  4.777498
OnevThree        5865  4.777498
OnevTwo          5865  4.777498
OnevOne          5865  4.777498
Num_5Ks          5865  4.777498
Num_4Ks          5865  4.777498
Num_3Ks          5865  4.777498
HS_Percent       5142  4.188558
FKFD_PlusMinus   5135  4.182856
FirstDeaths      5135  4.182856
ADR              4691  3.821184